<h3>Te koop</h3>
<ul class="media-list clearfix">
    {% for item in items %}
    <li>
        <a href="{{ url('sale_show', {'id':item.id}) }}" class="hover-effect" data-hover-text="Meer informatie">
            <img src="{{ asset('images/sale/' ~ item.images.first.imageName ) | imagine_filter('sale_small_img') }}" alt="">
        </a>
    </li>
    {% endfor %}
</ul>