{% extends '::layout.html.twig' %}

{% block slider %}
    {{ render(controller("ApplicationSliderBundle:Default:index", {'id': 2})) }}
{% endblock %}

{% block content %}
    <h1>{{ page.title|escape }}</h1>
    {{ page.content|raw }}
{% endblock %}

{% block rightside %}
{% endblock %}