{% extends '::layout.html.twig' %}

{% block slider %}
    <iframe width="960" height="325" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=Kwikaard+110,+2980+Sint-Antonius+Zoersel&amp;ie=UTF8&amp;hq=Kwikaard+110,&amp;hnear=Sint-Antonius,+Antwerpen,+Vlaams+Gewest,+%D0%91%D0%B5%D0%BB%D1%8C%D0%B3%D0%B8%D1%8F&amp;z=15&amp;iwloc=C&amp;output=embed"></iframe>
{% endblock %}

{% block main_content %}
    <h1>{{ page.title|escape }}</h1>
    {{ page.content|raw }}
{% endblock %}